<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cordeiro.marsweatherreport"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--  Needed to connect to MAAS API and get the weather data -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  Required for Google Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cordeiro.marsweatherreport.MarsWeatherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cordeiro.marsweatherreport.PreApi11UserPrefActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="com.cordeiro.marsweatherreport.UserPrefActivity"
            android:label="@string/settings" >
        </activity>
    </application>

</manifest>